<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer th:fragment="mainnavbar">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/third-space-gym/homepage">Third Space Gym</a>
            <div class="d-flex me-auto">
                <ul class="navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link mx-2" aria-current="page" href="/third-space-gym/homepage">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link mx-2" aria-current="page" href="#">Attendance</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link mx-2" aria-current="page" href="/gents_member/payment">Payment</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</footer>




</body>
</html>